In [ ]:
import pandas as pd
import os

DEFAULT_DATASET = os.path.join("..", "data", "ratings.csv")
movies = pd.read_csv(f"{os.path.dirname(DEFAULT_DATASET)}/movies.csv", usecols=['movieId', 'title', 'genres'])
ratings = pd.read_csv(DEFAULT_DATASET, usecols=['userId', 'movieId', 'rating'])

dataset = ratings.merge(movies, on='movieId')
dataset.head()

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
dataset.loc[dataset['userId'] == 10, ['userId', 'movieId', 'rating', 'title']].head(10)

      userId  movieId  rating                           title
1119      10      296     1.0             Pulp Fiction (1994)
1120      10      356     3.5             Forrest Gump (1994)
1121      10      588     4.0                  Aladdin (1992)
1122      10      597     3.5             Pretty Woman (1990)
1123      10      912     4.0               Casablanca (1942)
1124      10     1028     0.5             Mary Poppins (1964)
1125      10     1088     3.0            Dirty Dancing (1987)
1126      10     1247     3.0            Graduate, The (1967)
1127      10     1307     3.0  When Harry Met Sally... (1989)
1128      10     1784     3.5       As Good as It Gets (1997)